<!--- corner menu tutorial -->

<div>
	<h3> Corner Menu </h3>
	
	<div class="bench_data" style="text-align:left"> Here's what you have to do: </br>
		<ul>
			<li></li>
		
		</ul>	
		
		<div class="codepen_box">
	
		</div>
			
	 </div>
</div>
