<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[% template.title or 'Development - Alpha' %]</title>

    <!-- Bootstrap -->
    <link href="[% c.uri_for('/css/bootstrap.min.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/css/kdev.css') %]" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    [% DEFAULT rightpanel = 'login.tt' %]
    [% DEFAULT navlight = 'active' %]
  </head>
  <body>
      <div class="container-fluid">
       <div class="row">  
<!--	 <div class="col-lg-2 text-left">      
	   <h1>
             <div class="btn-group navbar-left">
               <button type="button" class="btn btn-default">Jedi</button>
	       <button type="button" class="btn btn-default navbar-inverse" style="color:white;">Sith</button>
             </div>
           </h1>
	  </div>
         <div class="col-lg-6 col-lg-offset-1 text-center">
    	   [% # INCLUDE carousel.tt %]     
    	   <h1>Development Site<small> [% username %]</small></h1>  
		   <span> </br> </br> </span>
		   </br> 
         </div>
         <div class="col-lg-2 col-lg-offset-1 text-right">
	     </div> -->
	     <div class="col-lg-12">
			[%  INCLUDE carousel.tt %]     
	     </div>
       </div>

       <div class="row"> 	
           <ul class="nav nav-tabs nav-justified navbar-inverse">
	    <li><a href="[% c.uri_for('/home') %]">Home</span></a></li>
	    <li><a href='#'>Blog</a></li>
	    <li><a href='#'>About</span></a></li>
            <li ><a href='#'>FAQ</span></a></li>	
          </ul>
       </div>
      <div class="row"><div class="col-lg-12"></br></br></br></div></div>
      <div classs="row">
      <div class="col-lg-2 text-left">
	  [%  INCLUDE $rightpanel %]
       </div>
        <div class="col-lg-6 col-lg-offset-1"> 
		[% IF status_msg || c.request.params.status_msg %]
		  <div class="alert alert-success alert-dismissible">
			  <button type="button" class="close" data-dismiss="alert">
				  <span aria-hidden="true">&times;</span>
			  </button>[% status_msg || c.request.params.status_msg | html %]
		  </div>
		[%END%]     	
        [% content %]
	</div>
	<div class="col-lg-2 col-lg-offset-1 text-center">
 	 <address>
 	 <strong>Kailash Sankar</strong><br>
 	 Developer<br>
 	 <abbr title="Phone">P:</abbr> 1234567890<br>
 	 <a href="mailto:#">kailash.sankar@outlook.com</a><br>
	</address>
       </div>
    </div>
      </div>			
     <script src="[% c.uri_for('/js/jquery.min.js') %]"></script>
     <script src="[% c.uri_for('/js/bootstrap.min.js') %]"></script> 
  </body>
</html>
