<div class="flip_box">
  <div class="flip-container" data-exp='[% exp %]'>
 
    <div class="content front-info">
		[% front %]
    </div>
  
    <div class="content back-info">
		[% back %]
      <span>Click to Begin</span>
   </div>
  
 </div>
 <a href='[% c.uri_for('/lab/bench', exp ) %]' id="[% exp %]" class="hidden"></a>
</div>

