<div class="flip_box">
  <div class="flip-container">
 
    <div class="content front-info">
		Make a menu icon with just CSS!
    </div>
  
    <div class="content back-info">
      <h4><strong>Just like the one on my portfolio page.</strong></h4>
      <!-- div style="text-align:left;">
		<ul><li></li></ul>
	
      </div -->
      <br/><br/>
      <span>Click to Begin</span>
   </div>
  
 </div>
</div>
