/* css for blog 
 ----Kailash Sankar ----
 
 */
 
#blog_main {
	margin: 20px;
}

.post {
	padding-bottom:10px;
	border-left: 0px solid #eee;
	border-right: 0px solid #eee;
}

.postcontent {
	padding: 0px 20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:pre-line;
	text-align:justify;
	height: 300px;
	position: relative;
}

.postcontent:after {
	content: attr(data-spec) " Characters";
	height: 75px;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	width: 100%;
	background: transparent linear-gradient(rgba(255, 255, 255, 0), #FCFCFC) repeat scroll 0% 0%;
	line-height: 11;
	text-align: center;
	font-size: 12px;
	font-family: monospace;
}

.fullcontent {
margin-left:10px;
margin-right:10px;
white-space:pre-line;
text-align:justify;
}

article blockquote {
border-left:0px;
}

.profileblock {
	text-align: left;
}

.combadge {
background-color:#000;
opacity:0.3;
}

.breaker {
height: 2px;
background-color: rgba(255,165,0,0.8);
margin:10px;
}

.breakerblue {
height: 2px;
background-color: rgba(173,216,230,0.8);
margin:10px;
}

.breakerdouble {
height: 8px;
border-top:2px solid rgba(255,165,0,0.8);
border-bottom:2px solid rgba(255,165,0,0.8);
margin:10px;
}

.comsec {
margin:10px;
}

.blogindex {
position:fixed;
padding-top:20px;
}

#blognav ul li a {
color: #47373f !important;
}

#blognav ul li {
border-left: 0px solid #eee !important;
border-right: 0px solid #eee !important;
}

#quicklinks a {
color:  #777 !important;
}

span .edit {
font-size:16px !important;
padding-right:10px;
}

.editbutton {
float:right;
opacity:0.3;
font-size:30px;
}

.editbutton img {
width:15px;
height:15px;
}

.editbutton:hover {
opacity:0.7;
}

.toolinfo {
width:12px;
height:12px;
text-align:center;
border-radius:6px;
border:1px solid #FFA500;
position: absolute;
margin-left:5px;
font-size:10px;
line-height: 1;
}

.like, .comment {
opacity:0.3;
font-size:14px;
text-decoration: none;
color:#000;
}

.like:hover, .comment:hover {
opacity:0.7;
text-decoration: none;
color:#000;
cursor:pointer;
font-weight: 700;
}

.changelog {
height:200px;
overflow:scroll;
}

.tagsearch {
cursor:pointer;
opacity:0.8;
display: -moz-box;
display: -webkit-box;
}

.tagsearch:hover {
opacity:1;
}

.startpad {
padding-top:20px;
text-align: center;
}

.post-links {
	color: #777;
	margin: 5px 0px;
	padding: 0px 20px;
}

.post-block {
	margin-bottom:0px;
	padding-bottom: 0px;
}


#content_panel {
	transition: all 0.5s linear;
}

.center-content {
	/* transform: translateX(-16.5%); */
	transform: translate3d(-16.5%,0px, 0px);
	border-right: 1px solid #DDD;
	box-shadow: 0px 9px 0px 0px #FFF, 0px -9px 0px 0px #FFF, 4px 0px 10px -4px rgba(63, 64, 65, 0.8), -4px 0px 10px -4px rgba(63, 64, 65, 0.8);
}

#left_panel {
	transition: transform 0.5s linear;
}

.hide-left-panel {
	/* transform: translateX(-100%); */
	transform: translate3d(-100%,0px, 0px);
}

.viewspace-arrow {
	z-index: 10;
	width: 40px;
	height: 40px;
	border: 1px solid #DDD;
	font-size: 40px;
	line-height: 0.9em;
    font-family: monospace;
	-webkit-line-height: 1;
	border-radius: 50%;
	text-align: center;
	padding-right: 3px;
	background-color: #EEE;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 24.5%;
	cursor: pointer;
	transition: all 0.5s linear;
}	

.flip-arrow {
	transform:translateY(-50%) rotate(-180deg);
	left: 12.2%;
	box-shadow: 2px 0px 5px -2px rgba(63, 64, 65, 0.8), -2px 0px 5px -2px rgba(63, 64, 65, 0.8);
}

.viewspace-arrow:hover {
	background-color: rgba(173, 216, 230, 0.8);
}

.help-block {
	margin-top: 0px;
}

span.f1 {
	text-decoration: underline;
}

span.f2 {
	position:relative;
}

span.f2::before {
	content: "";
	height: 3px;
	width: 11px;
	border-radius: 5px;
	background-color: #FFA500;
	box-sizing: border-box;
	position: absolute;
	left: -0.5%;
	top: 8px;
}


.alert.cu-alert {
	position: absolute;
	width: 97.8%;
}

/*
	border-left: 1px solid #DDD;
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid #DDD;
	float: none;
*/

/* ======== very low res mobile ========= */ 
@media only screen and (max-width: 1540px)  {
	.blogindex {
		position:initial;	
	}

	.viewspace-arrow {
		display: none;
	}
}

