/* =========================================== 
 *       	 Kailash Sankar 
 * ===========================================
#TODO: * Cleanup!
	   * write mobile css for lamp design  
	   * remove and optmizie custom css
*/

 
 /* ====== Placebo Effect theme css======== */
.profileblock {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  border-right: 5px solid #eee;
}

.contentblock {
  padding: 10px 20px;
  margin: 0 0 20px;
}

.doublegrey {
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

.homealign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ============= Lamp theme css ================ */

.squareicon {
  border-radius: 10px;
  border: 1px solid rgba(255,255,255, 0.5);
  color: rgba(255,255,255, 0.7) !important;
  background-color: rgba(0,0,0,0.1) !important;
}

.roundicon {
   border-radius: 80%;
   border: 2px solid #FFFFFF;
   color: rgba(255,255,255, 0.5) !important;
   background-color: rgba(0,0,0,0.1)  !important;
}

.loginspan {
  color:#FFFFFF;
  position: fixed;
  bottom: 40%;
  left: 5%;
  z-index:999;
  background-color: transparent;
}

.regspan {
 
  /* color:#FFFFFF; */
  position: fixed;
  bottom: 40%;
  right: 5%;
  z-index:999;
}

.homespan {
  color:#FFFFFF;
  position: fixed;
  bottom: 93%;
  right: 48%;
  z-index:999;
}

.designspan {
  position: fixed;
  bottom: 7%;
  right: 48%;
  z-index:999;
}

.themespan {
  position: fixed;
  bottom: 93%;
  left: 5%;
  z-index:999;
}

html#newhome { 
  background: url(/static/light.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* #TODO  media for lamp */
@media only screen and (min-width: 800px) {
 
  
}

/* ========== common ===================== */
/* replace add white and delete it here */
.addwhite {
  color:rgba(255,255,255, 0.8);
}

.addgrey {
  color:rgba(255,255,255, 0.8) !important;
}

.addblack {
  color: #47373f !important;
}

/* ======================= parallax website css, ooowhhh am exicted!! ============== */

/* ===common css, media queries will override whatever is required ===*/

.loading {
background: url('../static/loader.gif') no-repeat center center;
background-color:#FFA500;
z-index:9999;
width:128px;
height:128px;
position:fixed;
width:100%;
height:100%;
}

.loaded {
background: url('../static/loader.gif') no-repeat center center;
background-color:#fff;
z-index:1;
width:128px;
height:128px;
position:fixed;
width:100%;
height:100%;
opacity: 0;
-webkit-transition: opacity 600ms ease-out;
-moz-transition: opacity 600ms ease-out;
transition: opacity 600ms ease-out;
}

#parallax-base p, h1 { margin: 0.0em; }
#parallax-base p { line-height: 1.333em; }

#parallax-base {
    width:100%;
    height:100%;
}

#parallax-slides {
 width: 200%;
 height: 200%;
 position: fixed;
 top: 0;
 left: 0;
}

.parallax-slide {
 position: absolute;
 top: 0;
 left: 0;
 height: 50%;
 width: 50%;
}

#slide-1 {
    background: url('../static/slide-1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#slide-2 {
    background: url('../static/slide-2.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#slide-3 {
    background: url('../static/slide-3.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#slide-4 {
    background: url('../static/slide-4.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#helper {
  position: absolute;
  left: 0;
  top: 0;
  height: 600%;
  width: 0px;
 } 
 
 .marker {
    height: 20%;
    width: 100%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.navguide {
    position: fixed;
	z-index: 999;
	color: rgba(255,255,255, 0.5);
	text-align: center;
    line-height: 100px;
    font-size: 50px;
 }	

#navdown {
	bottom: 0%;
	top: auto;
	right: 48%;
	left:auto;
}

#navright {
	top: 20%;
	bottom: auto;
	right:1%;
	left: auto;
}

#navup {
	bottom: auto;
	top: 1%;
	right: 48%;
	left: auto;
}

#navleft {
	bottom: 50%;
	top: auto;
	right: auto;
	left: 1%;
}

.themebutton {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0, 0.5);
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
  line-height:1.4;
  z-index:999;
  text-decoration:none !important;
  color: #47373f !important; 
  transform: translateX(-50%);
  
}

.themebutton:hover {
 border: 1px solid rgba(0,0,0,1);
}

.themebuttoninv {
  border-radius: 10px;
  border: 1px solid rgba(255,255,255, 0.5);
  background-color: rgba(255,255,255,0.1);
  cursor:pointer;
  line-height:1.4;
  z-index:999;
  text-decoration:none !important;
  color: rgba(255,255,255, 0.8) !important; 
  transform: translateX(-50%);
  
}

.themebuttoninv:hover {
 border: 1px solid rgba(255,255,255,1);
}

.navhint {
    position: fixed;
	z-index:999;
	color: rgba(255,255,255, 0.5);
	text-align: center;
    line-height: 100px;
    font-size:15px;
    bottom:-2%;
    left:auto;
    right:2%;
    top:auto;
 }	

#sociallinks
{
 padding:5px;
 position:fixed;
 right:0%;
 top:0%;
 z-index:9;
 width:480px;
 height:64px;
 text-align: right;
}

#sociallinks img {
 opacity: 0.6;
}

#sociallinks img:hover {
 opacity: 1;
}

#socialmenu {
 position:fixed;
 top:2%;
 left:2%;
 cursor:pointer;
 width:35px;
 height:25px;
 background-color:rgba(0,0,0,0);
 display:inline-block;
 z-index:999;
} 

#socialmenu span:after,
#socialmenu span:before {
background: none 0% 0% rgba(255,165,0,0.8);
height:5px;
width:35px; 
z-index:9;
display:inline-block;
content:"";
position:absolute;
-webkit-transition:all 700ms;   
-moz-transition:all 700ms;
transition:all 700ms;
}

#socialmenu span:after {
top:10px;
}
#socialmenu span:before {
top:-10px;
}

#socialmenu span {
background: none 0% 0% rgba(255,165,0,0.8);
height:5px;
width:35px; 
z-index:9;
display:inline-block;
padding:0px;
position:relative;
transition:all 1000ms;
}

#socialmenu.active span {
background: none 0% 0% rgba(255,165,0,0);
transition:all 700ms;	
}

#socialmenu.active span:after{
background: none 0% 0% #A52A2A;
-webkit-transform: translateY(-200%) rotate(45deg);
-ms-transform: translateY(-200%) rotate(45deg);
transform: translateY(-200%) rotate(45deg);
-webkit-transition:all 700ms;   
-moz-transition:all 700ms;
transition:all 700ms;
}

#socialmenu.active span:before {
background: none 0% 0% #A52A2A;
-webkit-transform: translateY(200%) rotate(-45deg);
-ms-transform: translateY(200%) rotate(-45deg);
transform: translateY(200%) rotate(-45deg);
-webkit-transition:all 700ms;   
-moz-transition:all 700ms;
transition:all 700ms;
}



.scrollnav {
height:20%;
top:50%;
position:fixed;
right:2%;
left:auto;
width:5%;
z-index:9;
transform: translateY(-50%);
padding-right:15px;
}

.scrollnav li {
list-style:none;
padding:4px;
}

.scrollnav li a.active {
background-color:#A94442;
}

.scrollnav a {
border-radius:50%;
border: 3px solid #FFA500;
width:18px;
height:18px;
display:block;
text-decoration: none;	
outline:none;
}
.scrollnav a:hover{
background-color:#3C763D;
transition: all 0.3s;
}

/* overriding carousel css */
#carousel-placebo ol li {
border: 1px solid #47373f !important;
}

#carousel-placebo ol li.active {
background-color: #47373f !important;
}

/* ===== For large devices ====== */
@media only screen and (min-width: 768px) {
#slide-2 {
     padding-top:20px;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);

}

#slide-3 {
    -webkit-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    transform: translate(100%,100%);
}

#slide-4 {
    -webkit-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    transform: translate(100%,0);
}

#slide-1 .caption {
    text-align: center;
    color: #fff;
    padding:10px;
    font-size:16px;
    padding-top:70px;
}

#slide-2 .caption {
    position: absolute;
    width:100%;
    bottom:20%;
    color: #47373f;
    text-align: left;
}

#slide-3 .caption {
    position: absolute;
    left: 1%;
    right: auto;
    top:8%;
    bottom: auto;
    color: #fff;
    text-align: left;
    width:100%;
    height:100%;
}
 
#slide-4 .caption {
    position: absolute;
    right: auto;
    left: 5%;
    top: 5%;
    bottom: auto;
    color: #fff;
    text-align: left;
}

#sociallinks {
 display:none;
 }
} 
/* ===== large media end ======= */

/* =================for mobile============================= */
@media only screen and (max-width: 767px)  {
#slide-1 .caption {
    float:left;
    text-align: left !important;
    color: #fff;
    padding:0px;
    font-size:14px !important;
}

#slide-2 .caption {
  position:relative;  
}

#slide-3 .caption {
    float:left;
    color: #fff;
    text-align: left;
}
 
#slide-4 .caption {
    float:left;
    color: #fff;
    text-align: left;
}

.navhint {
  visibility: hidden;
  display:none;
  }
  
.navguide {
  visibility: hidden;
  display:none;
  }
  
#sociallinks img {
 opacity: 0.6;
 width: 48px;
 height: 48px;
}

#parallax-base {
  height:4000px; /* 4 x slide height */
  width:100%;
}

#parallax-slides {
 width: 100%;
 position: relative;
 top: 0;
 left: 0;
}

.parallax-slide {
 position: relative;
 display: inline-block;
 width:100%;
 height:1000px;
 padding:10px;
}

#lowresmsg {
 display:inline !important;
}

#sociallinks
{
 padding:10px;
 text-align:center;
 width:100%;
 position:relative;
 display:block !important; 
 background-color:black;
}

.scrollnav {
display: none;
}

#socialmenu {
display:none;
}

}  

/* ============= mobile end ============= */

/* ======== very low res mobile ========= */
@media only screen and (max-width: 300px)  {


}

/* ======== css3 magic ================= */

#hoverbox {
position:absolute;
top:50%;
left:50%;
transform: translateY(-50%) translateX(-50%);
width:200px;
height:200px;
border:1px solid #FFA500;
cursor:pointer;
text-align:center;
align-content: space-around;
}

#slowrider {
position:absolute;
left:2%;
top:40%;
width:100px;
height:100px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius:50px;
border: 10px solid #FFA500;
background-color: rgba(255,255,255,0.4);
transition-property: top, left;
transition-duration: 1.5s, 1.5s;
transition-delay: 0s, 1s;
}

#hoverbox:hover ~ #slowrider {
top:70%;
left:80%;
transform:rotateX(180deg);
background-color: rgba(255,255,255, 0.8);
transition-property: top, left;
transition-duration: 1.5s, 1.5s;
transition-delay: 0s, 1s;

}

#hoverbox:hover{
background-color: rgba(255,255,255, 0.4);
transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-webkit-transition: all 400ms ease-in-out;
}
